@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
	font-family: "Poppins", sans-serif;
}
.container {
	width: 90%;
	margin: auto;
	padding: 20px;
}

.input-field {
	padding: 10px;
	outline: none;
	border: none;
	border-bottom: 2px solid #333;
	font-size: 18px;
}

.btn {
	padding: 10px;
	outline: none;
	border: none;
	background: #333;
	color: #fff;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
}

.list {
	list-style: none;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	color: #fff;
}

.list-item {
	background: #333;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 45%;
}

.center {
	text-align: center;
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.list-item {
		width: 90%;
		margin-left: -1.5rem;
	}
	.container {
		width: 100%;
	}
	.input-field {
		margin-bottom: 1rem;
	}
}
